* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	flex-direction: column;
	display: flex;
	height: 100vh;
	justify-content: space-between;
	align-items: center;
	background-color: #2e3440;
}

.game {
	opacity: 0;
	width: 100%;
}

.spd-scr-btn {
	margin-bottom: 50px;
	opacity: 0;
	transition: all 0.5s;
	display: none;
	width: 100%;
	flex-direction: column;
	gap: 150px;
	justify-content: center;
}

.speed-score {
	display: flex;
	justify-content: space-around;
}

button {
	margin: 30px 20px;
	font-weight: bold;
	font-size: 24px;
	color: #2e3440;
	border: 0;
	cursor: pointer;
	padding: 8px 16px;
	height: 100px;
	background-color: #d08770;
	border-radius: 24px;
}

#start {
	margin: 30vh 0;
	height: auto;
}
#no-catch {
	height: auto;
	margin: 0 20px;
	background-color: #bf616a;
}

h1 {
	margin-top: 10px;
	color: #d8dee9;
}

footer {
	justify-content: space-between;
	padding: 10px;
	display: flex;
	width: 100%;
	background-color: #6182bf;
	color: #d8dee9;
}

footer a {
	color: #d8dee9;
}
